.input-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
}
.input-panel form input, .input-panel form span {
  height: 50px;
}
.input-panel .button {
  margin-left: 35%;
}
textarea {
    resize: none;
}